<div class="bodyLogin">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2 loginDiv">
                <div class="row loginContainer">

                    <div class="center col s12 m5 l7 offset-l1 offset-m1">
                        <div class="loginTitulo">
                            <h5>Registro de Plan</h5>
                        </div>
                        <div class="row">
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="plan.idCarrera" value="" class="browser-default" type="number" name="idCarrera" id="idCarreraPlanes" placeholder="id carrera" autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input  [(ngModel)]="plan.nombrePlan" value="" class="browser-default" type="text" name="nombrePlan" id="nombrePlan" placeholder="nombre plan" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <button  class="btn col l12 s12 m12 btnLogin ">
                                REGISTRAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>