<div class="bodyLogin">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2 loginDiv">
                <div class="row loginContainer">

                    <div class="center col s12 m5 l7 offset-l1 offset-m1">
                        <div class="loginTitulo">
                            <h5>Registro de Profesor y materia</h5>
                        </div>
                        <div class="row">
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="profesorYMateria.idProfesor" value="" class="browser-default" type="number" name="idProfesorPYM" id="idProfesorPYM" placeholder="id profesor y materia" autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input  [(ngModel)]="profesorYMateria.idMateria" value="" class="browser-default" type="number" name="idMateriaPYM" id="idMateriaPYM" placeholder="id materia" autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="profesorYMateria.grupo"  value="" class="browser-default" type="number" name="grupoPYM" id="grupoPYM" placeholder="grupo" autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input  [(ngModel)]="profesorYMateria.anyo" value="" class="browser-default" type="number" name="anyoPYM" id="anyoPYM" placeholder="año" autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input  [(ngModel)]="profesorYMateria.idPeriodo" value="" class="browser-default" type="number" name="idPeriodoPYM" id="idPeriodoPYM" placeholder="id periodo" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <button  class="btn col l12 s12 m12 btnLogin ">
                                REGISTRAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>