<div class="bodyLogin">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2 loginDiv">
                <div class="row loginContainer">

                    <div class="center col s12 m5 l7 offset-l1 offset-m1">
                        <div class="loginTitulo">
                            <h5>Registro de carreras</h5>
                        </div>
                        <div class="row">
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="carreras.codigoCarrera" placeholder="codigo carrera" value="" class="browser-default"
                                    type="text" name="codigoCarrera" id="codigoCarrera" placeholder="codigo carrera   "
                                    autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="carreras.nombreCarrera" placeholder="nombreCarrera" value="" class="browser-default"
                                    type="text" name="nombreCarrera" id="nombreCarrera" placeholder="nombreCarrera"
                                    autocomplete="off">
                            </div>
                            <div class="col s12 customInput">
                                <i class="material-icons prefix">person</i>
                                <input [(ngModel)]="carreras.idInstituto" placeholder="idInstituto" value="" class="browser-default"
                                    type="number" name="idInstituto" id="idInstituto" placeholder="id instituto"
                                    autocomplete="off">
                            </div>
                            
                  <div class="row">
                            <button class="btn col l12 s12 m12 btnLogin ">
                                REGISTRAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>